@import url(../common/section/section-title.css);
@import url(../common/section/section-subtitle.css);
@import url(./cards/cards.css);

.techniques{
    width: 80%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}